datasets==1.6.2
spacy==2.3.2
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-2.3.1/es_core_news_sm-2.3.1.tar.gz
pandas==1.0.1
tokenizers==0.10.2
nltk==3.4.5
pytest
notebook
ipywidgets
IProgress